################################
# 1. Cache & temporary files
################################
**/cache/
**/__pycache__/
*.pyc
*.pyo

################################
# 2. Jupyter
################################
**/.ipynb_checkpoints/

################################
# 3. OS / editor
################################
.DS_Store
.vscode/
.idea/

################################
# 4. Experiment outputs
################################
**/runs/
**/checkpoints/
**/metrics*.csv
**/log_*.txt
**/*.state.pt
**/*.pt
**/code.zip

################################
# 5. GIS / shapefile related
################################
*.parquet
*.dbf
*.shp
*.shx
*.sbn
*.sbx
*.xml
*.geojson

################################
# 6. Raw data policy
################################
data/

################################
# 7. Logs
################################
*.log

